.menu {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-size: 1.8em;
}
.container {
  position: fixed;
  top:7vh;
  left: 5vw;
  z-index: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  width: 0;

}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 14vh;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 5;
}

