.menu {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-size: 1.8em;
}
.container {
  position: fixed;
  top:7vh;
  left: 5vw;
  z-index: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  width: 0;

}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 14vh;
  border-radius: 0 0 10px 10px;
  background-color: rgba(255, 255, 255, 0.87);
  z-index: 5;
}

