.vl {
  border-left: 6px solid white;
  height: 100%;
  &-first {
    border-radius: 20px 20px 0 0;
  }
  &-last {
    border-radius: 0 0 20px 20px;
    margin-bottom: 20vh;
  }
}

.timeline-title {
  margin-top: 15vh;
  align-self: flex-start;
  margin-left: 4.1vw;
  &-icon{
    color: #646cff;
  }
}

.test {
}
