.welcome-page {
  text-align: center;
}

.title {
  margin-bottom: 1em;
  align-self: center;
  .description {
    color: #888;
    &_titles {
      color: rgba(255, 255, 255, 0.87);
    }
  }
}

.buttons {
  display: flex;
  justify-content: center;
}
